body {
    background-color:#F6F8FA;
    font-family: 'Ranga', cursive;
    font-weight: 300;
}
.container {
    margin: 5px auto;
    display: block;
    text-align: center;
    padding: 15px;
}
header {
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 6em;
    opacity: 0.7;
    color: #99A1AB;
    text-shadow: 3px 3px 3px;
}
#main {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 25px;
    line-height: 1.2;
}
::-webkit-input-placeholder {
    font-style: italic;
}
#task {
    font-size: 25px;
    line-height: 1.2;
    padding: 15px;
    margin-bottom: 10px;
}
#add {
    width: 100%;
}
#todos li {
    padding: 6px;
}
.close {
    opacity: 0.5;
    color: darkred;
}
.close:hover {
    opacity: 1;
    color: darkred;
}
 input[type="checkbox"] {
	width: 20px;
	height: 20px;
	background: #ddd;
    margin-right: 12px;
    border-collapse: separate; 
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
input[type=checkbox]:checked + label {
	text-decoration: line-through;
    opacity: 0.5;
}


footer {
    font-size: 12px;
}
footer p{
    padding: 3px;
}