@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: local("Caveat Brush"), local("CaveatBrush-Regular"), url(https://fonts.gstatic.com/s/caveatbrush/v2/_d7bgsk3hfC4DXnUEeYKs-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2"); }

@font-face {
  font-family: 'Ranga';
  font-style: normal;
  font-weight: 400;
  src: local("Ranga Regular"), local("Ranga-Regular"), url(https://fonts.gstatic.com/s/ranga/v1/Ba3xB_3Whn_Xq3RLay2x1A.woff2) format("woff2"); }

html {
  font-size: 62.5%; }

body {
  background-color: #F6F8FA;
  font-family: "Ranga", cursive;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 5px auto;
  display: block;
  text-align: center;
  padding: 15px; }

header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Caveat Brush", cursive;
  font-size: 6em;
  opacity: 0.7;
  color: #99A1AB;
  text-shadow: 3px 3px 3px; }

footer {
  font-size: 1.5rem; }
  footer p {
    padding: 3px; }

@media (max-width: 620px) {
  .footer-on-screen {
    display: none; } }

@media (min-width: 620px) {
  main, footer {
    margin: auto; }
  header {
    font-size: 12rem;
    margin-bottom: 50px; }
  #todos {
    margin-top: 20px; }
  footer {
    margin-top: 45px; } }

@media (min-width: 620px) and (max-width: 1150px) {
  main, footer {
    width: 60%; }
  #task {
    width: 70%;
    margin-right: 20px; }
  .footer-on-screen {
    display: none; } }

@media (min-width: 1150px) {
  main, footer {
    width: 45%; }
  .footer-on-mobile {
    display: none; } }
